/* Start Remove Wordpress Footer */
#wpfooter {
    display: none;
}
/* End Remove Wordpress Footer */


/* Basic */
a{
    text-decoration: none;
}
#warning {
    z-index: 1050; /* or a higher value */
}
.modal-content {
    touch-action: none; /* Prevent default touch actions */
}

/* / Basic */


/* Notification */


.lobibox-notify-wrapper.top {
    top: 39px !important;
}

/* /Notification */



/* DaashIcon */

.dashicons{
    font-size: 20px !important;
    height: 20px !important;
}

/* /DaashIcon */

/* Change Background On Choose TD In Customers Search Modal */
.selected {
    background-color: rgb(139, 133, 133); 
  }
/* / Change Background On Choose TD In Customers Search Modal */



/* Start DashIcon Size*/
.dashicons {
    font-size: 15px;
    width: 15px;
    height: 15px;
  }
/* End DashIcon Size*/



/* Start Disabled TD In Customers Search Modal */
.disabled-td {
    color: #999; 
    pointer-events: none; 
    background-color: #f4f4f4; 
    opacity: 0.6; 
}
/* End Disabled TD In Customers Search Modal */


/* Start Data Tables Details */

.dt-length, .dt-search {
    display: flex;
    align-items: center;
}

.dt-length label, .dt-search label {
    margin-bottom: 0;
}

@media (max-width: 767.98px) {
    .dt-length, .dt-search {
        flex-direction: column;
        align-items: flex-start;
    }

    .dt-length select, .dt-search input {
        width: 100%;
        margin-top: 5px;
    }

    .dt-length label, .dt-search label {
        width: 100%;
    }
}


    /*  Create Border */
    #ah {
        border-collapse: collapse;
        width: 100%;
    }

    #ah th, #ah td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #ah th {
        background-color: #f2f2f2;
    }




    /* View Filter in left of Name */
    /* span.dt-column-order, 
    table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order, 
    table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order, 
    table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order, 
    table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order, 
    table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order, 
    table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order{
        position: static !important; 
    } */

    /* .dt-length select, label[for="dt-search-0"], label[for="dt-length-0"]{
        display: none !important;
    } */

    /* .dt-info{
        display: none !important;
    } */
    /* .dt-paging {
        display: none !important;
    } */

    /* Disable the relative position [ show other in resbonsive ]*/
    /* table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control {
        position: static !important; 
    } */
    /* Disable the relative position [ show other in resbonsive - arabic ]*/
    /* table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before{
        position: static !important; 
        margin-right: -33px !important;
    } */

    /* Disable the relative position [ show other in resbonsive - in small size ] */
    /* table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
        position: static !important;
        margin-left: -31px !important;
    } */
/* End Data Tables Details */


/* Start Default admin color scheme */
body {
    background-color: #f1f1f1;
}

/* Dark color scheme */
body.wp-core-ui.colors-dark {
    background-color: #222;
    color: #fff;
}

/* Blue color scheme */
body.wp-core-ui.colors-blue {
    background-color: #e6f7ff;
}

/* Default button styles */
.my-plugin-button {
    background-color: #0073aa;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
     display: inline-flex; /* Ensure the anchor behaves as an inline-block and supports flexbox */
    align-items: center; /* Vertically center the contents */
    justify-content: center; /* Horizontally center the contents */
    text-decoration: none; 
}

/* Dark color scheme button styles */
body.wp-core-ui.colors-dark .my-plugin-button {
    background-color: #444 !important;
}

/* Blue color scheme button styles */
body.wp-core-ui.colors-blue .my-plugin-button {
    background-color: #0073aa;
}

/* End Default admin color scheme */


/* Start Documents */

    /* Start Insert Page */
    .checkbox-spacer {
        margin-left: 1rem; /* Adjust margin as needed */
    }
    /* End Insert Page */

/* End Documents */


/* SELECT Lib */

.select2-container .select2-selection--single{
    
    height: 34px !important;

}
/* / SELECT Lib */

/* Log Page */

.form-check-label {
    display: flex;
    align-items: center;
    height: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between label and input as needed */
}

.input-group {
    display: flex;
    align-items: center;
    flex: 1;
}



.form-check-input {
    margin-left: 0.5em;
}

.btn-group-sm>.btn, .btn-sm {

    font-size: 1rem;
}



.form-group label {
    flex: 0 0 30%; /* Adjust the percentage as needed for the label width */
    max-width: 30%;
    margin-bottom: 0;
    white-space: nowrap;
    width: 100%;
}


.form-control {
    width: 100%;
}

.btn {
    margin-left: 5px; /* Add margin to separate the button from the input */
    
}

@media (max-width: 767.98px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label {
        flex: none;
        width: 100%;
        max-width: 100%;
        margin-bottom: 5px;
    }

    .input-group {
        width: 100%;
    }

    .btn {
        margin-left: 0;
        margin-top: 5px;
        font-size: 1rem;
    }
}
/* / Log Page */